$color: rgb(0, 157, 255);
.root {
    position: absolute;
    border: 1px solid $color;
    div {
        position: absolute;
        border: 1px solid $color;
        background-color: white;
        width: 7px;
        height: 7px;
        &:hover:nth-child(odd) {
            cursor: ns-resize;
        }
        &:hover:nth-child(even) {
            cursor: ew-resize;
        }
    }
}