.root {
    position: absolute;
    table {
        border-collapse: collapse;
        width: 100%;
        th, td {
            border: 2px solid black;
            padding: 8px;
        }
        th {
            font-weight: bold;
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
    &:hover {
        outline:1px solid rgb(206, 206, 206);
    }
}