.root {
    label {
        color: rgb(108, 108, 108);
        font-size: 14px;
        margin-right: 1vw ;
    }
    :global {
        .title {
            margin: 10px 0 20px 10px;
        }
        .main {
            margin: 5px;
            margin-left: 15px;
            > div {
                margin-bottom: 20px;
                > span {
                    margin-right: 20px;
                }
            }
            .ant-input {
                width: 15vw;
                border-radius: 3px;
            }
            .ant-input-number {
                height: 30px;
                width: 5vw;
            }
        }
    }
}