.root {
    position: absolute;
    margin: 2px;
    overflow: hidden;
    &:focus {
        border: none;
        outline: none;
    }
    &:hover {
        outline:1px solid rgb(206, 206, 206);
    }
}