.root {
    width: 300px;
    height: 560px;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 5px 5px 5px rgb(155, 155, 155);
    background-color: aliceblue;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}