.root {
    :global {
        .container {
            display: flex;
            .left {
                border: 1px solid rgb(223, 223, 223);
                border-radius: 5px;
                height: 575px;
                width:  300px;
                margin: 5px;
                .title {
                    width: 77px;
                    height: 24px;
                    font-size: 18px;
                    font-family: Alibaba-PuHuiTi-M, Alibaba-PuHuiTi;
                    font-weight: normal;
                    color: #333333;
                    line-height: 24px;
                    margin: 10px;
                }
                .buttoms {
                    margin-left: 5px;
                    margin-bottom: 10px;
                    .search {
                        width: 140px;
                        .ant-input {
                            border-radius: 0;
                            height: 30px;
                        }
                        .ant-btn {
                            border-radius: 0;
                            height: 30px;
                        }
                    }
                    .create {
                        margin-left: 10px;
                        width: 80px;
                        height: 30px;
                        border-radius: 0;
                        font-size: 10px;
                    }
                }
                .list {
                    overflow: auto;
                    height: 85%;
                    margin-top: 10px;
                    .ant-list-item {
                        margin: 0 10px;
                    }
                    .ant-list-item:hover {
                        background-color: #E5F4FF;
                        cursor: pointer;
                    }
                }
                .list::-webkit-scrollbar {
                    width: 0;
                }
            }
            .right {
                width: 100%;
                height: 575px;
                border: 1px solid rgb(223, 223, 223);
                border-radius: 5px;
                margin: 5px;
                .temp-name {
                    height: 24px;
                    font-size: 18px;
                    font-family: Alibaba-PuHuiTi-M, Alibaba-PuHuiTi;
                    font-weight: normal;
                    color: #333333;
                    line-height: 24px;
                    margin: 10px;
                }
                .view-port {
                    width: 1100px;
                    height: 470px;
                    border: 1px solid rgb(239, 239, 239);
                    margin: 10px;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                }
                .buttoms {
                    position: relative;
                    display: inline-block;
                    width: 1050px;
                    height: 40px;
                    margin-top: 5px;
                    .delete-buttom {
                        position: absolute;
                        right: 150px;
                        width: 100px;
                    }
                    .design-buttom {
                        position: absolute;
                        right: 20px;
                        width: 100px;
                    }
                }
            }
        }
    }
}